*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* A - HOME */

.home{
    min-height:100vh;
    background-color:#141925;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

/* M - HERO */

.hero{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:0 10%;
}

.hero-content{
    max-width:900px;
}

.hero h1{
    font-size:4rem;
    color:#facc15;

    margin-bottom:25px;
}

.hero p{
    font-size:1.2rem;

    line-height:1.8;

    color:#d1d5db;

    margin-bottom:35px;
}

/* J - BOTÃO */

.btn-principal{

    background-color:#7c3aed;
    color:rgb(255, 255, 255);

    border:none;

    padding:15px 30px;

    border-radius:12px;

    font-size:1rem;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.btn-principal:hover{

    background-color:#6d28d9;

    transform:translateY(-3px);
}

/* J - SEÇÕES */

.problema,
.solucao,
.fluxo,
.cta{

    padding:100px 10%;

    text-align:center;
}

.problema h2,
.solucao h2,
.fluxo h2,
.cta h2{

    color:#facc15;

    margin-bottom:50px;

    font-size:2.5rem;
}

/* A - CARDS */

.cards{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;
}

.card{

    background-color:#1e293b;

    width:280px;

    padding:25px;

    border-radius:15px;

    border:2px solid #7c3aed;

    transition:0.3s;
}

.card:hover{

    transform:translateY(-8px);

    border-color:#facc15;
}

.card h3{

    margin-bottom:15px;

    color:#facc15;
}

.card p{

    color:#d1d5db;

    line-height:1.6;
}

/* A - FLUXO */

.fluxo-container{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:20px;

    flex-wrap:wrap;

    font-size:1.4rem;

    font-weight:bold;
}

.fluxo-container div{

    background-color:#1e293b;

    padding:20px;

    border-radius:12px;

    border:2px solid #7c3aed;
}

/* M - CTA */

.cta{

    padding-bottom:120px;
}

.cta h2{

    max-width:900px;

    margin:0 auto 40px;
}

/* M - RESPONSIVIDADE */

@media(max-width:768px){

    .hero h1{
        font-size:2.5rem;
    }

    .hero p{
        font-size:1rem;
    }

    .problema h2,
    .solucao h2,
    .fluxo h2,
    .cta h2{
        font-size:2rem;
    }

    .card{
        width:100%;
        max-width:350px;
    }
}